body{
    background: #F3F5FC;
    
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.caja_principal{
    position: relative;
    align-items: flex-end;
    margin-left: 10%;
    margin-top: 3%;

}

#texto{
    font-family: 'Inter';
    font-size: 32px;
    line-height: 400%;
    width: 50%;
    color: #0A3871;
    
}

.text_atencion{
    display: inline-flex;
    color: #495057;
    opacity: 0.8;
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;  
    margin-top: 2%;
}


#encriptar{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    order: 0;
    flex-grow: 1;
    display:inline-block;
    margin-top: 7%;
}

#desencriptar{
    box-sizing: border-box;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    color: #0A3871;
    order: 1;
    flex-grow: 0;
}

.caja_encriptado{
    position:fixed;
    width: 30%;
    height: 90%;
    left: 68%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#texto_encriptado{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

#copiar{
    box-sizing: border-box;
    position: absolute;
    top: 85%;
    left: 10%;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
}
